.adventureContainer{
    background-image: url("./assets/AdventureBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.adventureContainer h1{
    font-family: 'IM Fell English', serif;
  color: #FCF6F5;
    
}
