.cardImg{
  width: 95%;
  height: 50%;
  border-radius: 5px;
  background-size: cover;
  margin-left: 5px;
  margin-top: 5px;
}
.cardContainer{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 250px;
  height: 70vh;
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: bisque;
  box-shadow: 3px 3px 10px black;
  

}

/*Card buttons Start*/
.cardButtonContainer{
  display: flex;
  margin: 1px;
  border: 1px solid black;
  cursor: pointer;
}

.CardButton{
  flex: 1;
  padding: 10px 10px; 
  border: none;
  text-align: center;
  cursor: pointer;
  background-color: #990011;
  color: #FCF6F5;
}
.cardbutton{
object-fit: cover; 
flex: 1;
text-align: center;
cursor: pointer;
background-color: #990011;
color: #FCF6F5;
}
.cardButton button:hover{
  background-color: #FCF6F5;
  color: #990011;
}
/*Card buttons End*/
.addedToCart {
  background-color: green;
  color: white;
}
.CardInfo{
  margin: 15px;
  margin-bottom:1px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .cardContainer {
    height: 75vh;
    width: 35vh;
    margin-left: 105px;
  }
}
@media screen and (max-width: 600px) {
  .cardContainer {
    height: 60vh;
    width: 30vh;
    margin-left: 105px;
  }
}

@media screen and (max-width: 450px) {
  .cardContainer {
    margin-left: 80px;
    height: 60vh;
  }
}

