.HeaderContainer{
  background: linear-gradient(to bottom, #CB7B83, #990011);
}

.TitleHeader{
  display: flex;
  justify-content: space-between;  
}
.TitleHeader button{
  margin: 10px 10px 10px 10px;
  padding:10px 60px;
  background-color: #FCF6F5;
  color: #990011;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px black;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
}
.TitleHeader button:hover{
  background-color: black;
  color: #FCF6F5;
  box-shadow: 5px 5px #990011;
}
#LinkList{
  list-style: none;
}
.Carousel{
text-align: center;
border-radius: 10px;
justify-content: center;
align-items: center;
margin: 0 0 10px 10px;
}

.BottomButton{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 
}
.BottomButton button{
  margin: 10px 10px 10px 10px;
  padding:10px 60px;
  background-color: #FCF6F5;
  color: #990011;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px black;
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
}
.BottomButton button:hover{
  background-color: black;
  color: #FCF6F5;
  box-shadow: 5px 5px #CB7B83;
}
.Bottom h1{
  text-align: center;
  color: white;
}

.slides {
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .BottomButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  .BottomButton button{
    margin: 10px;
    padding: 30px;
  }
  .carousel-container{
    align-items: center;
    display: block; 

  }
  .CarouselContainer {
    display: block; 
  }
  .slides {
    gap: 0px;
  }
  .cardContainer {
    height: 77vh;
  }
}


