.RomanceContainer{
  background-image: url("./assets/RomanceBackground.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.RomanceTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%; 
  margin-right: 190px;
}

.RomanceTitle h1 {
  font-family: 'Parisienne', cursive;
  color: #FCF6F5;
  margin: 0;
}
.text{
  padding-left: 5em;
}
.RomanceGrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align:center;
  
}