.ScienceFictionContainer{
  background-image: url("./assets/ScienceFictionBackground.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.HorrorButton{
  font-family: 'Creepster', cursive;
}
.AdventureButton{
  font-family: 'IM Fell English', serif;
}
.ToTheTopButton{
  font-family: 'Orbitron', sans-serif;
}
.ScienceFictionTitle{
  font-family: 'Orbitron', sans-serif;
  color: #FCF6F5;
  padding-top: 10px;
}
.ScienceFictionGrid{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
text-align:center;

}